# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
graph_conn-*.tar

# This config file should be used for local dev and testing and it contains
# real server urls and credentials, thus it must be git ignored.
/config/git_ignored.exs

# this file appear when ssh capability is invoked from AH docker container
/ssh-keys/known_hosts
